.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
*.blend1
*.blend2
*.blend3
@*.blend
*.blend@*
*.swp
*~
*.bak
*.log
*.tmp
*.obj.mtl
*.ZVR
*.ZPR.bak
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]sset[Bb]undles/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
/.vs/
/.idea/
/.vscode/
